        <div id="home" class="big-bg">
            <header class="page-header wrapper">
                <nav>
                   <ul class="main-nav">
                    <% if user_signed_in? %>
                        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout"  %></li> 
                    <% else %>
                        <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
                        <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li> 
                    <% end%>
                    </ul>
                </nav>
            </header>
            
            <div class="home-content wrapper">
                <h2 class="page-title">Reflection Diary </h2>
                <p class="catch">日常の気づきから、暮らしをアップデート</p>
                    <% if user_signed_in? %>
                    <%= link_to '日記を書く', user_path(current_user.id), class: "button"  %>
                     <% else %>
                    <%= link_to '日記を書く', posts_path, class: "button"  %>
                     <% end%>
            </div>
            
        </div>
