
<div class="second_wrapper">
  <%= render "shared/second-header"%>
  <div class="wrapper">
    <h1>
      検索結果
    </h1>
    <%# 検索結果の個数で条件分岐 %>
        <% if @results.length !=0 %>
          <% @results.each do |result| %>
            <td>
            <br>
            <li>
              <%= result.fact %>
              <%= result.notice %>
              <%= result.notice %>
              <%= result.image %>
              <%= result.category.name %>
            </li>
          <% end %>
        <% else %>
          該当する日記はありません
        <% end %>
  </div>
    <%= render "shared/second-footer"%>
</div>
